/* style for all */
*{
    margin: 0;
} 
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    

}
.text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* header styles */
/* navbar styles */
.logo{
    display: flex;
    gap: 20px;
}
.logo-title{
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 40px 240px; 
}
nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}
nav li{
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500; 
}
.icon-menu{
    display: flex;
    gap: 36px;
    align-items: center;
    padding: 5px 10px;
   
}

.icons-follow{
    display: flex;
    gap: 16px;

}
.follow-box
{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    height: 2em;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 240px;
    padding-right: 240px;
    margin-bottom: 180px;
}

.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
.banner-list{
    list-style: none;
    margin-bottom: 40px;
}
.banner-list li{
    margin-top: 20px;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
}
 .banner-image{
    width: 50%;
} 
.btn-primary{
    border: none;
    border-radius: 3rem;
    padding: 21px 40px;
    background-color: #F948B2;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 10px;
}
#blue{
    background: #4EC5F7;
}
/* main styles */

/* online games section styles */

.online-games-cards{
    display: flex;
    justify-content: end;
    margin-left: 240px;
    margin-right: 240px;
}
figcaption{
    width: 12.5rem;
    margin-top: 20px;
}
.online-games-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.online-games-description{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 40px;
}
 .hover-icon{
    position: relative;
    bottom: 55%;
    left: 28%;
    display: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #F948B2;
}
.hover-title{
    margin-top: 20px;
    margin-right: 20px;
}

.card > img{
    width: 80%;
}
.card:hover img{
    cursor: pointer;
    filter: brightness(30%);
}
.card:hover .hover-icon{
    display: block;
} 

/* play instantly section styles */
.play-instantly{
    margin-top: 120px;
}
.play-instantly-container{
    display: flex; 
    justify-content: end;
    gap: 120px;
    align-items: center;
    margin-top: 120px; 
    margin-right: 240px; 
    margin-left: 240px; 
    
}
.play-instantly-images{
    width: 40%;
}

.play-instantly-title{
    text-align: right;  
    font-size: 3.2rem;
    font-weight: 700;
    width: 25rem; 
}

.play-instantly-description{
    width: 22rem;
    color: #534C64;
    margin-top: 40px;
    padding-left: 45px; 
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    
}

/* icons section styles */
.icons{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
    width: 200px;
}
.icons-part{
    display: grid;
    grid-template-columns: repeat(5, 220px);
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 240px;
    margin-right: 240px;
}
.row2{
    margin-left: 150px;
}
 .icons p{
    font-size: 1.2rem;
    font-weight: 600;
} 



.icons:hover{
    cursor: pointer;
    border: 1px solid #F948B2;
    color: #F948B2;
    border-radius: 50px;
    
    
}
/* footer styles */
footer{
    padding: 40px 240px;
    align-items: center;
    background-color: #0B0223;
    margin-top: 120px;
}
.footer-content{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.footer-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFF;
   
}

.footer-sections-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 66px;
}
.footer-sections{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer-terms-section{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 70px;
}
.footer-terms{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
.footer-para{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 28px;
    margin-bottom: 130px;
}
.footer-icons-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 66px;
}
@media screen and (max-width:576px) {
    nav, .nav-list, .online-games-cards,.play-instantly-container
    {
        flex-direction: column;
    }
    nav{
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: bottom;
        background-size: 420px 420px;
    }
    .btn-primary{
        margin-left: 5px;
    }
    .online-games-cards {
        margin-left: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .card > img {
        width: 350px;
    }
    .card > figcaption {
        width: 300px;
        margin-bottom: 20px;
    }
    .play-instantly-container, .icons-part, .banner{
        margin-left: 0px;
        margin-right: 0px;
        padding: 10px;
        gap: 20px;
    }
    .play-instantly-description{
        text-align: center;
    }
    .play-instantly-title{
        text-align: center;
    }
    .play-instantly-images{
        width: 80%;
    }
    .icons-part, .footer-sections-container, .footer-terms-section {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 10px;
    }
    .icons{
        width: 50px;
    }
    .row2{
        margin-left: 0px;
    }
     footer{
        padding:20px 40px;
    } 
     .banner-image{
        width: 60%;
    } 
   
}
