/* style for all */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    

}
.text-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* header styles */
header{
    padding: 40px 240px;
   
}
/* navbar styles */
.logo{
    display: flex;
    gap: 20px;
}
.logo-title{
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
}
.logo-image{
    width: 80%;
    height: 60%;
    padding-top: 12px; 
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
}
nav li{
    color: #3C354F;
    text-align: center;
    font-size: 1rem;
    font-weight: 500; 
}
.icon-menu{
    display: flex;
    gap: 36px;

}
.icons{
    display: flex;
    gap: 16px;
}
/* main styles */

/* online games section styles */

.online-games-cards{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-left: 240px;
    margin-right: 240px;
}
figcaption{
    width: 342px;
    margin-top: 20px;
}
.online-games-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.online-games-description{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
}
/* play instantly section styles */
.play-instantly-container{
    display: flex; 
    margin-left: 500px;
    margin-right: 240px;
    margin-top: 50px;
    
    
}

.play-instanty-title{
    text-align: right;  
    font-size: 3.2rem;
    font-weight: 700;
    width: 400px; 
}

.play-instantly-description{
    width: 353px;
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}
.play-instantly-images{
    width: 100%;
}
  .cat{
    position: relative;
    top: 80px;
    left: 200px;
}  